# Site settings:
# --------------
title                   : sanderh.dev
description             : Sander's blog
repository              : smholvoet/smholvoet.github.io
markdown                : kramdown
remote_theme            : "mmistakes/minimal-mistakes@4.27.3"
minimal_mistakes_skin   : "default"
timezone                : Europe/Brussels
locale                  : "en-US"

# Site author:
# ------------
author:
  name                  : "Sander Holvoet"
  location              : "Belgium"
  avatar                : "/assets/images/logo.jpg"
  bio                   : "Roses are red, violets are blue unexpected '{' on line 32."

# Outputting:
# -----------
permalink               : /:categories/:title/
paginate                : 5
paginate_path           : /page:num/

# Includes:
# --------
include:
  - _pages

# Excludes:
# ---------
exclude:
  - vendor

# Plugins:
# --------
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache
  - "jekyll-github-metadata"

# Footer:
# -------
footer:
  links:
    - label: ""
      icon: "fab fa-fw fa-twitter"
      url: "https://twitter.com/smholvoet"
    - label: ""
      icon: "fab fa-fw fa-github"
      url: "https://github.com/smholvoet"
    - label: ""
      icon: "fab fa-fw fa-linkedin-in"
      url: "https://www.linkedin.com/in/sanderholvoet/"

# Tag archive:
# ------------
tag_archive:
  type: liquid
  path: /tags/

# Disqus:
# -------
comments:
  provider: "disqus"
  disqus:
    shortname: "sanderholvoet"

# Google Analytics:
# -----------------
analytics:
  provider: "google-gtag"
  google:
    tracking_id: "G-PZPE93ENH9"
    anonymize_ip: false # default

# Socials:
# --------
twitter:
  username: "smholvoet"
og_image: "/assets/images/logo.jpg"
social:
  name: smholvoet
  links:
    - https://twitter.com/
    - https://github.com/

# Algolia Search:
# ---------------
search: true
search_full_content: true
search_provider: algolia
algolia:
  application_id: XTI9UCVDW2
  index_name: prod_sanderh
  search_only_api_key: c3a3d16dc59221f7fd7914a568f2a113
  powered_by: true

# Defaults:
# ---------
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      classes: wide
      author_profile: true
      read_time: true
      comments: true
      share: false
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

# suppresses GitHub API warning when building locally
github: [metadata]
