@charset "utf-8";

/* override footer icon colors */
$twitter-color: #99a0a0;
$github-color: #99a0a1;
$linkedin-color: #99a0a2;
$rss-color: #99a0a3; 

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
